/*header*/
header{
  width: 100%;
  position: fixed;
  background: var(--couleur-noir);
  z-index: 3;
}
.header-principal h1{
  margin: 0;
  padding: 15px 0;

  font-family: var(--font-secondaire);
  font-size: 2.25rem;
  line-height: 43px;

  color: var(--couleur-blanc);
}
