.interet{
  text-align: center;
  background: url("../images/bg-interet.jpg") fixed;
}

.interet h3{
  margin: 0;
  padding: 60px 0 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 2.5rem;
  text-transform: uppercase;

  color: var(--couleur-noir);
}
